@charset "UTF-8";
/*------------------------------------------------------------------
[Table of contents]

1. General
2. Header
3. Navigation
4. Sections
5. Footer
6. Components

[Color codes]
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Master Stylesheet]

Project:	Sanza - One page multi purpose page
Version:	1.0
Last change:	17/08/2015 [...]
Designed by:	MOOZ Themes / www.MOOZthemes.com
Primary use:	One page

[Table of contents]

1. General
2. Header
3. Navigation
4. Sections
5. Footer
6. Components

[Color codes]

Buttons, etc:	#726FB9 (blue)
hover color:	#fed136 (yellow)
-------------------------------------------------------------------*/
/*--------------------
Import Google Fonts
--------------------*/
/* main font for menu. */
@import url(http://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900);
/* font for headings, text, tags */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700,800);
/*--------------------
1. General
--------------------*/
body {
  margin: 0px;
  background: #778877;
  border: #663333 solid 10px;
  font-size: 18px; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  letter-spacing: 0.4px;
  font-family: "Open Sans", Sans-serif;
  color: #bb9955; }

h1 {
  font-size: 50px; }

p {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 23px;
  letter-spacing: 0.2px;
  color: #797979; }

.dark-bg p {
  color: #fff; }

a:hover, a:focus, a:active, a.active {
  color: #fec503; }

a, a:hover, a:focus, a:active, a.active {
  outline: 0; }

::selection {
  text-shadow: none;
  background: #cc5522; }

@media (min-width: 768px) {
  section {
    padding: 150px 0; } }
section {
  padding: 70px 0; }

ul {
  padding-left: 0;
  padding-top: 10px; }

ul li {
  list-style: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 45px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0.2px;
  color: #000000; }

section ul li:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
  content: "\f105";
  padding-right: 7px;
  color: #23AD21; }

.container {
  padding: 0; }

.round {
  border-radius: 100px;
  /* Радиус скругления */
  box-shadow: 0 0 0 5px #663333, 0 0 13px #333;
  /* Параметры теней */
  width: 50%;
  margin-bottom: 10px; }

#services, #gallery, #contact {
  border-bottom: #663333 solid 10px; }

/*--------------------
1.1 Reset bootstrap
--------------------*/
.row-0-gutter {
  margin-left: -13px;
  margin-right: -13px; }

.col-0-gutter {
  padding-left: 0;
  padding-right: 0; }

/*--------------------
2. Navigation
--------------------*/
.gn-menu-main li.gn-trigger {
  box-shadow: rgba(0, 0, 0, 0.5) 10px 5px; }

*,
*:after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Icomoon.com */
.gn-menu-main,
.gn-menu-main ul {
  margin: 0;
  padding: 0;
  background: none;
  color: #5f6f81;
  list-style: none;
  text-transform: none;
  font-weight: 300;
  font-family: 'Lato', Arial, sans-serif;
  line-height: 60px; }

.gn-menu-main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  font-size: 13px;
  z-index: 100; }

.gn-menu-main a {
  display: block;
  height: 100%;
  color: #663333;
  text-decoration: none;
  cursor: pointer;
  border-bottom: 2px solid #663333;
  border-right: 2px solid #663333; }

.no-touch .gn-menu-main a:hover,
.no-touch .gn-menu li.gn-search-item:hover,
.no-touch .gn-menu li.gn-search-item:hover a {
  background: #5f6f81;
  color: white; }

.gn-menu-main > li {
  display: block;
  float: left;
  height: 100%;
  text-align: center; }

/* icon-only trigger (menu item) */
.gn-menu-main li.gn-trigger {
  position: relative;
  width: 60px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: #998877; }

.gn-menu-main > li > a {
  padding: 5px 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold; }

.menu-icon > i {
  font-size: 50px;
  padding: 5px 4px 0 5px; }

.gn-menu-main:after {
  display: table;
  clear: both;
  content: ""; }

.gn-menu-wrapper {
  position: fixed;
  top: 60px;
  bottom: 0;
  left: 0;
  overflow: hidden;
  width: 60px;
  background: #998877;
  -webkit-transform: translateX(-60px);
  -moz-transform: translateX(-60px);
  transform: translateX(-60px);
  -webkit-transition: -webkit-transform 0.3s, width 0.3s;
  -moz-transition: -moz-transform 0.3s, width 0.3s;
  transition: transform 0.3s, width 0.3s;
  border-right: #663333 2px solid; }

.gn-scroller {
  position: absolute;
  overflow-y: scroll;
  width: 370px;
  height: 100%; }

.gn-menu {
  text-align: left;
  font-size: 18px; }

.gn-submenu li {
  overflow: hidden;
  height: 0;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  transition: height 0.3s; }

.gn-submenu li a {
  color: #c1c9d1; }

input.gn-search {
  position: relative;
  z-index: 10;
  padding-left: 60px;
  outline: none;
  border: none;
  background: transparent;
  color: #5f6f81;
  font-weight: 300;
  font-family: 'Lato', Arial, sans-serif;
  cursor: pointer; }

/* placeholder */
.gn-search::-webkit-input-placeholder {
  color: #5f6f81; }

.gn-search:-moz-placeholder {
  color: #5f6f81; }

.gn-search::-moz-placeholder {
  color: #5f6f81; }

.gn-search:-ms-input-placeholder {
  color: #5f6f81; }

/* hide placeholder when active in Chrome */
.gn-search:focus::-webkit-input-placeholder,
.no-touch .gn-menu li.gn-search-item:hover .gn-search:focus::-webkit-input-placeholder {
  color: transparent; }

input.gn-search:focus {
  cursor: text; }

.no-touch .gn-menu li.gn-search-item:hover input.gn-search {
  color: white; }

/* placeholder */
.no-touch .gn-menu li.gn-search-item:hover .gn-search::-webkit-input-placeholder {
  color: white; }

.no-touch .gn-menu li.gn-search-item:hover .gn-search:-moz-placeholder {
  color: white; }

.no-touch .gn-menu li.gn-search-item:hover .gn-search::-moz-placeholder {
  color: white; }

.no-touch .gn-menu li.gn-search-item:hover .gn-search:-ms-input-placeholder {
  color: white; }

.gn-menu-main a.gn-icon-search {
  position: absolute;
  top: 0;
  left: 0;
  height: 60px; }

.gn-icon::before {
  display: inline-block;
  width: 60px;
  text-align: center;
  text-transform: none;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  font-family: 'ecoicons';
  line-height: 1;
  speak: none;
  -webkit-font-smoothing: antialiased; }

/* if an icon anchor has a span, hide the span */
.gn-icon span {
  width: 0;
  height: 0;
  display: block;
  overflow: hidden; }

.no-touch .gn-icon-menu:hover::before,
.no-touch .gn-icon-menu.gn-selected:hover::before {
  background: white;
  box-shadow: 0 3px #5f6f81, 0 -6px white, 0 -9px #5f6f81, 0 -12px white; }

.gn-icon-menu.gn-selected::before {
  background: #5993cd;
  box-shadow: 0 3px white, 0 -6px #5993cd, 0 -9px white, 0 -12px #5993cd; }

/* styles for opening menu */
.gn-menu-wrapper.gn-open-all,
.gn-menu-wrapper.gn-open-part {
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
  box-shadow: rgba(0, 0, 0, 0.5) 10px 5px;
  background: #998877; }

.gn-menu-wrapper.gn-open-all {
  width: 340px; }

.gn-menu-wrapper.gn-open-all .gn-submenu li {
  height: 60px; }

@media screen and (max-width: 422px) {
  .gn-menu-wrapper.gn-open-all {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px);
    width: 100%; }

  .gn-menu-wrapper.gn-open-all .gn-scroller {
    width: 130%; } }
/*--------------------
3. Header
--------------------*/
header {
  background-color: #333333;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  color: #fff;
  border-bottom: #663333 solid 10px; }

header .intro-text {
  width: 100%;
  padding-bottom: 0; }

.text {
  font-size: 12px;
  font-style: italic;
  text-decoration: underline;
  padding-top: 15px; }

header .main-img {
  background-image: url(../images/Ur0Mjx_kgHc.jpg);
  height: 100vh;
  background-size: cover;
  border-left: #663333 solid 10px; }

.colt1, .colt2 {
  top: -140px; }

.colt1 {
  transform: rotate(45deg) scale(0.5, 0.5) translateY(200px); }

.colt2 {
  transform: scale(-0.5, 0.5) rotate(45deg) translateY(200px); }

header .text {
  padding-bottom: 20px; }

header .intro-text .intro-lead-in {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.65);
  font-family: "Open Sans",sans-serif;
  font-size: 19px;
  color: #3E3E3E;
  font-weight: 300;
  line-height: 40px; }

@media (min-width: 768px) {
  header .intro-text .intro-lead-in {
    font-size: 29px;
    line-height: 40px;
    margin-bottom: 45px; }

  .main-text {
    padding: 0;
    height: 100vh; } }
@media (max-width: 700px) {
  .main-text {
    padding-top: 10vh; } }
header .intro-text .intro-heading {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 25px;
  letter-spacing: -3px;
  word-spacing: 10px;
  color: #FFFFFF;
  text-shadow: 1px 1px 1px black; }

@media (min-width: 768px) {
  header .main-text {
    top: 15vh; }

  header .intro-text .intro-heading {
    line-height: 95px;
    font-size: 77px;
    margin-bottom: 50px; } }
/*--------------------
4. Sections
--------------------*/
.section-title h2 {
  font-size: 34px;
  text-transform: uppercase;
  color: #5D5D5D;
  font-weight: 800;
  letter-spacing: -0.6px;
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 15px; }

.section-title h2:after {
  left: 50%;
  z-index: 1;
  width: 40px;
  height: 2px;
  content: " ";
  bottom: -5px;
  margin-left: -20px;
  text-align: center;
  position: absolute;
  background: #cc5522; }

.dark-bg .section-title h2 {
  color: #fff; }

.section-title p {
  font-size: 18px;
  font-weight: 300;
  line-height: 25px;
  margin: 20px 100px 60px 100px; }

/*--------------------
4.1. Services
--------------------*/
#services {
  background-color: #433B31; }

.mz-module-about h3 {
  font-weight: 500;
  font-size: 19px;
  text-transform: uppercase;
  color: #000000;
  letter-spacing: 2px;
  margin-bottom: 20px; }

.dark-bg .mz-module-about h3 {
  color: #FFFFFF; }

.mz-module-about p {
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  color: #969696; }

.ot-circle {
  height: 95px;
  width: 95px;
  text-align: center;
  line-height: 98px;
  color: #FFFFFF;
  /* border: 3px solid #000; */
  border-radius: 100px;
  background-color: #bb9955;
  margin: 0 2px 4px;
  font-size: 24px; }

/*--------------------
4.3. Gallery
--------------------*/
.my-gallery {
  width: 100%;
  float: left; }

.my-gallery img {
  width: 100%;
  height: auto; }

.my-gallery figure {
  display: block;
  float: left;
  margin: 0 5px 5px 0;
  width: 150px; }

.my-gallery figcaption {
  display: none; }

#gallery {
  background-color: #333333; }

figure {
  position: relative;
  overflow: hidden;
  margin: 0 1px 1px 0;
  background: red;
  text-align: center;
  cursor: pointer; }

figcaption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.ot-portfolio-item figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0; }

.ot-portfolio-item figure figcaption, .ot-portfolio-item figure figcaption > a {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

figure.effect-bubba {
  background: #000;
  margin-bottom: 1px; }

figure.effect-bubba img {
  /* opacity: 0.95; */
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s; }

figure.effect-bubba:hover img {
  opacity: 0.4; }

figure.effect-bubba figcaption::before,
figure.effect-bubba figcaption::after {
  position: absolute;
  top: 30px;
  right: 30px;
  bottom: 30px;
  left: 30px;
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s; }

figure.effect-bubba figcaption::before {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1); }

figure.effect-bubba figcaption::after {
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
  -webkit-transform: scale(1, 0);
  transform: scale(1, 0); }

figure.effect-bubba h2 {
  opacity: 0;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 30%;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0, -20px, 0);
  transform: translate3d(0, -20px, 0); }

figure.effect-bubba p {
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  padding: 20px 2.5em;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0, 20px, 0);
  transform: translate3d(0, 20px, 0); }

figure.effect-bubba:hover figcaption::before,
figure.effect-bubba:hover figcaption::after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1); }

figure.effect-bubba:hover h2,
figure.effect-bubba:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

/*--------------------
4.4. Partners Slider
--------------------*/
.owl-portfolio .owl-controls {
  position: absolute;
  left: 0;
  top: 38%;
  width: 100%; }

.owl-portfolio .owl-controls .owl-nav [class*=owl-] {
  padding: 8px 17px;
  background: rgba(0, 0, 0, 0.18);
  border-radius: 0;
  margin: 0;
  font-size: 20px;
  z-index: 1000; }

.owl-portfolio .owl-controls .owl-nav [class*=owl-]:hover {
  background: #000;
  color: #fff;
  text-decoration: none; }

.owl-portfolio .owl-controls .owl-prev {
  float: left; }

.owl-portfolio .owl-controls .owl-next {
  float: right; }

.owl-portfolio-item {
  text-align: center;
  display: inline-block; }

.partner-logo {
  height: 80px;
  text-align: center;
  display: inline-block; }

.partner-logo img {
  height: 100%;
  width: auto !important; }

.owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #23AD21; }

.owl-theme .owl-dots .owl-dot span {
  width: 30px;
  height: 5px;
  margin: 15px 7px 0 7px;
  background: #d6d6d6;
  display: block;
  -webkit-backface-visibility: visible;
  -webkit-transition: opacity 200ms ease;
  -moz-transition: opacity 200ms ease;
  -ms-transition: opacity 200ms ease;
  -o-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 0; }

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #23AD21; }

/*--------------------
4.5. Contacts
--------------------*/
#contact {
  background-color: #433B31; }

section#contact form {
  margin-top: 15px; }

section#contact.form-group {
  margin-bottom: 25px; }

section#contact .form-group input, section#contact .form-group textarea {
  padding: 15px;
  border: 1px solid #BBBBBB;
  border-radius: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075);
  font-size: 13px; }

.contact h3 {
  margin-bottom: 30px; }

.contact p {
  font-size: 13px; }

.contact .day {
  display: inline-block;
  width: 80px; }

.contact i {
  margin-right: 5px; }

/*--------------------
5. Footer
--------------------*/
footer {
  padding: 30px;
  background-color: #333333; }

footer p {
  color: #B7B7B7;
  margin: 0;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1.6px; }

footer p a {
  color: #fff; }

footer p a span {
  color: #23AD21;
  font-size: 10px;
  letter-spacing: 1px;
  font-weight: 700; }

/*--------------------
6. Modal
--------------------*/
.modal-content {
  border-radius: 0; }

.modal-header .close {
  font-size: 30px; }

.modal-title {
  text-transform: uppercase;
  font-size: 23px; }

.modal-body {
  padding: 0; }

.modal-body p {
  margin: 30px 20px;
  color: #2D2D2D; }

.modal-works {
  font-size: 11px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
  margin: 25px 20px; }

.modal-works span {
  background-color: cyan;
  margin-right: 15px;
  padding: 5px 10px; }

/*--------------------
7. Components
--------------------*/
.btn-xl:hover, .btn-xl:focus, .btn-xl:active, .btn-xl.active, .open .dropdown-toggle.btn-xl {
  color: #fff;
  background-color: #bbaa77;
  border-color: #bbaa77; }

.btn:hover, .btn:focus, .btn:active, .btn.active, .open .dropdown-toggle.btn {
  color: #fff;
  background-color: #bbaa77;
  border-color: #bbaa77; }

.btn {
  display: inline-block;
  padding: 8px 20px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #cc5522; }

.btn-xl {
  color: #fff;
  background-color: #cc5522;
  /* border-color: $buttons-color; */
  font-family: "Open Sans",sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  border-radius: 0;
  letter-spacing: 2px;
  font-size: 16px;
  padding: 17px 45px; }

/* Back to top button
---------------------------------- */
#back-top {
  position: fixed;
  z-index: 1000;
  bottom: 40px;
  right: 50px; }

#back-top a {
  width: 60px;
  height: 60px;
  display: block;
  text-align: center;
  font: 11px/100% Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  background: #998877;
  box-shadow: rgba(0, 0, 0, 0.5) 10px 5px;
  /* background color transition */
  -webkit-transition: 1s;
  -moz-transition: 1s;
  transition: 1s; }

#back-top a:hover {
  background: #cc5522; }

/* arrow icon (span tag) */
#back-top i {
  margin-top: 15px;
  font-size: 28px; }

@media only screen and (min-width: 320px) and (max-width: 480px) {
  #back-top {
    position: fixed;
    bottom: 10px;
    right: 30px; }

  #back-top a {
    width: 40px;
    height: 40px; }

  #back-top i {
    margin-top: 7px;
    font-size: 20px; } }

/*# sourceMappingURL=style.css.map */
